[Unit]
Description=IUNO LicenseManager
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/LicenseManager

[Install]
WantedBy=multi-user.target